<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- ここに設定を記述 -->
    <property name="LOG_FILE" value="logs/exampleBoot.log"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="com.example.spa.controller" level="DEBUG"/>
    <logger name="com.example.spa.service" level="DEBUG"/>

</configuration>
